dashboard-sidebar {
  position: absolute;
  top: 0;
  left: -275px;
  bottom: 0;
  width: 275px;
  transition: left .3s;
  border-left: 1px solid #cccccc;
  background: white;
  display: flex;
  flex-direction: column;
  
  .widget-sidebar-header {
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;

    h3 {
      color: #ED2B88;
      flex: 1;
    }

    .close {
      background-image: url('img/close.png');
      background-size: 12px;
      width: 12px;
      height: 12px;  
      cursor: pointer;
    }
  }

  &.active {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
    left: 0;
  }

  compose {
    display: block;
    margin: 8px;
    flex: 1
  }

  .button-remove-widget {
    align-self: center;
    margin-bottom: 8px;
  }
}
