widget-sidebar {
  position: absolute;
  top: 74px;
  right: -200px;
  bottom: 0;
  width: 200px;
  transition: right .3s;
  border-left: 1px solid #cccccc;

  h3 {
    background-color: #cccccc;
  }

  &.active {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
    right: 0;
  }
}
