widget {
  display: inline-block;
  border: 1px solid #cccccc;
  margin: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

  .widget-header {
    border-bottom: 1px solid #cccccc;
    padding: 4px;
    display: flex;
    font-size: 14px;
    
    h4 {
      flex: 1;
    }

    .button-settings {
      cursor: pointer;
      background-image: url('img/cog.png'); 
      width: 16px;
      height: 16px;
      background-size: 16px;
    }
  }


  compose {
    display: block;
    padding: 8px;
  }
}
